<div class="container" id="title_logo">
    <h1>Luxury Watch Store</h1>
    <img src="https://res.cloudinary.com/dnygdmomh/image/upload/v1599009378/Watches/watch_logo_lbspkh.jpg" 
         alt="watch logo" 
         id="watch_logo">
  </div>