.banner {
  color: red;
  // background-image: url(https://source.unsplash.com/random);
  background-image: asset-url('the-name-of-your-file.extension-of-your-file')
  height: 600px;
  background-size: cover;
}

// add linear gradient
