.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-light .navbar-nav .blue-text {
  color: #41a5e7;
}

.nav-link {
  margin-right: 16px;
}
